* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    background: #0B2434;
    padding: 20px;
    font-family: 'Karla';
}

main {
    background-color: #F5F5F5;
    height: 500px;
    max-width: 800px;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.die-face {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    width: 45px;
    height: 45px;   
    cursor: pointer;
    display: grid;
    grid-template-areas:
        "a . c"
        "e g f"
        "d . b";
}

.face {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    width: 55px;
    height: 55px;   
    cursor: pointer;
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	margin: 1px;
	background-color: #e7e7e7;
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #333;
	box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
	grid-area: g;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
  }

 .face-one {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-face{
    display: flex;  
    justify-content : space-between;
}

.roll-dice {
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title {
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
}

.dice-info {
    font-weight: 200;
    font-size: 20.1072px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
}

.roll-count{
    margin: 1px;
}